<!DOCTYPE html>
<html lang="es">
<head>
    <title>Recommender System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div style="width: 100%">
            <input type="text" class="search-bar" id="search-bar" placeholder="Search for movies...">
            <div id="search-results" class="search-results"></div>
        </div>
        <svg class="user-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <div id="logout-container" style="display: none;">
            <p id="current-user-name"></p>
            <button id="logout-button" onclick="logout()">Close Session</button>
        </div>
    </header>

    <div class="container">
        <h1 class="main-title">Movie Ocean</h1>
        <button onclick="getRecommendations()" class="get_recom_but">Get Recommendations</button>
        <ul id="recommendations" style="display: none;"></ul>

        <div class="admin-section" style="display: none">
            <div class="admin-section-container">
                <h2 class="admin-head">Admin Section</h2>
                <div class="buttons-toggle">
                    <button class='toggle-form' onclick="showAddUserForm()">Add Movie Rating</button>
                    <button class='toggle-form' onclick="showDeleteRatingForm()">Delete Movie Rating</button>
                </div>
            </div>

            <form id="add-user-form" class="form-container">
                <fieldset>
                    <div class="form-group">
                        <label for="new-user-name">User Name:</label>
                        <input type="text" id="new-user-name" name="new-user-name" required>
                    </div>
                    <div class="form-group">
                        <label for="new-movie-name">Movie Name:</label>
                        <input type="text" id="new-movie-name" name="new-movie-name" required>
                    </div>
                    <div class="form-group">
                        <label for="new-movie-rating">Movie Rating:</label>
                        <input type="number" id="new-movie-rating" name="new-movie-rating" min="1" max="5" required>
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="addNewUser()">Add User or Movie Rating</button>
                    </div>
                </fieldset>
            </form>

            <form id="delete-rating-form" class="form-container" style="display: none;">
                <fieldset>
                    <div class="form-group">
                        <label for="delete-user-name">User Name:</label>
                        <input type="text" id="delete-user-name" name="delete-user-name" required>
                    </div>
                    <div class="form-group">
                        <label for="delete-movie-name">Movie Name:</label>
                        <input type="text" id="delete-movie-name" name="delete-movie-name" required>
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="deleteUserRating()">Delete User Rating</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <div class="recommendations">
        <div class="column">
            <h2>Top Picks</h2>
            <ul id="top-picks-list"></ul>
        </div>
        <div class="column">
            <h2>New Releases</h2>
            <ul id="latest-rel-list"></ul>
        </div>
    </div>


    <script>
        let currentUser = null;

        document.querySelector('.user-icon').addEventListener('click', function() {
            if (!currentUser) {
                currentUser = prompt('Select a user: ');
                if (currentUser) {
                    // Check if the user is valid
                    fetch('/check_user', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ user_name: currentUser })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.valid) {
                            document.querySelector('.user-icon').style.display = 'none';
                            document.getElementById('logout-container').style.display = 'flex';
                            document.getElementById('logout-container').style.width = '15%';
                            document.getElementById('current-user-name').textContent = currentUser;
                            document.getElementById('recommendations').style.display = 'block';
                            alert(`Welcome, ${currentUser}! Your personalized recommendations are now loaded.`);
                            if (currentUser === 'krl') {
                                document.querySelector('.admin-section').style.display = 'block';
                            }
                        } else {
                            alert('User not found in the database. Please try again.');
                            currentUser = null;
                        }
                    });
                } else {
                    alert('Invalid user selection. Please try again.');
                    currentUser = null;
                }
            }
        });

        function showAddUserForm() {
            document.getElementById('add-user-form').style.display = 'block';
            document.getElementById('delete-rating-form').style.display = 'none';
        }

        function showDeleteRatingForm() {
            document.getElementById('add-user-form').style.display = 'none';
            document.getElementById('delete-rating-form').style.display = 'block';
        }

        async function deleteUserRating() {
            const userName = document.getElementById('delete-user-name').value;
            const movieName = document.getElementById('delete-movie-name').value;

            const response = await fetch('/delete_rating', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_name: userName, movie_name: movieName })
            });

            const result = await response.json();
            alert(result.message);
        }

        function logout() {
            currentUser = null;
            document.querySelector('.user-icon').style.display = 'inline';
            document.getElementById('logout-container').style.display = 'none';
            document.getElementById('recommendations').style.display = 'none';
            document.getElementById('recommendations').innerHTML = '';
            document.querySelector('.admin-section').style.display = 'none';
            alert('You have been logged out.');
        }

        async function addNewUser() {
            const userName = document.getElementById('new-user-name').value;
            const movieName = document.getElementById('new-movie-name').value;
            const movieRating = document.getElementById('new-movie-rating').value;

            const response = await fetch('/add_user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_name: userName, movie_name: movieName, movie_rating: movieRating })
            });

            const result = await response.json();
            alert(result.message);
        }

        async function getRecommendations() {
            if (!currentUser) {
                alert('No user is logged in. Please select a user.');
                return;
            }

            const response = await fetch('/recommend', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user: currentUser })
            });
            const recommendations = await response.json();
            console.log(recommendations); // Log the response to check its structure

            const list = document.getElementById('recommendations');
            list.innerHTML = '';
            recommendations.forEach(item => {
                const li = document.createElement('li');
                li.textContent = item;
                list.appendChild(li);
            });
        }

        async function showTopPicks() {
            const response = await fetch('/top_picks', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const topPicks = await response.json();
            console.log(topPicks); // Log the response to check its structure

            const topPicksList = document.getElementById('top-picks-list');
            topPicksList.innerHTML = '';
            topPicks.forEach(movie => {
                const li = document.createElement('li');
                li.textContent = movie;
                topPicksList.appendChild(li);
            });
        }

        async function showLatestReleases() {
            const response = await fetch('/latest_releases', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const latestRel = await response.json();
            console.log(latestRel); // Log the response to check its structure

            const latestRelList = document.getElementById('latest-rel-list');
            latestRelList.innerHTML = '';
            latestRel.forEach(movie => {
                const li = document.createElement('li');
                li.textContent = movie;
                latestRelList.appendChild(li);
            });
        }

        async function searchMovie() {
            const searchTerm = document.querySelector('.search-bar').value.toLowerCase();
            const searchResults = document.getElementById('search-results');
            const searchBar = document.querySelector('.search-bar');

            if (searchTerm === '') {
                searchResults.style.display = 'none';
                searchResults.innerHTML = '';
                searchBar.style.borderBottomRightRadius = '15px';
                searchBar.style.borderBottomLeftRadius = '15px';
                searchBar.style.backgroundColor = 'rgb(255 255 255 / 20%)';
                return;
            }

            const response = await fetch('/search_movie', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ search_term: searchTerm })
            });
            const movies = await response.json();
            searchResults.innerHTML = '';

            if (movies.length > 0) {
                movies.forEach(movie => {
                    const div = document.createElement('div');
                    div.classList.add('search-result');
                    div.innerHTML = `<h3>${movie.title}</h3><p>Release Date: ${movie.release_date}</p><p>Genres: ${movie.genres.join(', ')}</p>`;
                    searchResults.appendChild(div);
                });
                searchResults.style.display = 'block';
                searchBar.style.borderBottomRightRadius = '0';
                searchBar.style.borderBottomLeftRadius = '0';
                searchBar.style.backgroundColor = '#081943';
            } else {
                searchResults.innerHTML = '<p>No movies found.</p>';
                searchResults.style.display = 'block';
                searchBar.style.borderBottomRightRadius = '0';
                searchBar.style.borderBottomLeftRadius = '0';
                searchBar.style.backgroundColor = '#081943';
            }
        }

document.querySelector('.search-bar').addEventListener('input', searchMovie);

        document.addEventListener('DOMContentLoaded', function() {
            showTopPicks();
            showLatestReleases();
        });


        const listItems = document.querySelectorAll('li');
        listItems.forEach((item, index) => {
            item.style.animation = `fadeIn 0.5s ease-out ${index * 0.1}s both`;
        });

        // Add this CSS animation to your existing <style> tag
        document.querySelector('style').textContent += `
            @keyframes fadeIn {
                from { opacity: 0; transform: translateY(20px); }
                to { opacity: 1; transform: translateY(0); }
            }
        `;
    </script>
</body>
</html>